.part1{
background-image: url(img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 150%;
  
}
.section2{
    width: 70%;
text-align: center;
  margin-left: 15%;
    margin-right: 15%;
}

.searsh{
    background-color:#0ceac5;
    border-radius: 40%;
    width: 100px;
    height: 100px; 
     outline-style: double;
     outline-color:#0ceac5;
  outline-width: 20px;
}
.palette {
       background-color:#f48fb1;
    border-radius: 40%;
    width: 100px;
    height: 100px; 
    margin-left: 35%;
    margin-right: 35%;
     outline-style: double;
     outline-color:#f48fb1;
  outline-width: 20px;
    
}
.cpu{
        background-color:#82b1ff;
  border-radius: 40%;
  width: 100px;
  height: 100px;
  outline-style: double;
  outline-color: #82b1ff;
  outline-width: 20px;
}
.img-fluid{

	box-shadow: -9px 1px 15px rgba(0, 0, 0, 0.1);
cursor: pointer;

}
.img-fluid:hover{
    color: #82b1ff;
    opacity: 0.4;
}
.img-flud{
      max-width: 60%;
  height: auto;
    opacity: 0.8;
    outline-style: double;
  outline-color: #82b1ff;
  outline-width: 20px;
    border-radius: 50%;
}
.box{
padding: 40px;
    text-align: center;
    border-radius: 24px;
    background-color: white;
    background-size: 50% 50%;
    	box-shadow: -9px 1px 15px rgba(0, 0, 0, 0.1);
    
}
.box input[type = "text"],.box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color:green;
    border-radius: 24px;
    
transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 300px;
    border-color: #2ecc71;
}
.box input[type = "button"]{
       border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid  #2ecc71;
    padding: 14px 10px;
    width: 100px;
    outline: none;
    color:green;
    border-radius: 24px;
    cursor: pointer;
    
}
.box input[type = "button"]:hover{
    background: #2ecc71;
}
.footer{
    background-color: #2c3e50;
    font-size: 30px;
    cursor: pointer;
}
.copyright{
    background-color: black;
}
.footer{
    background-color: #2a3e60;
    width: 100%;
    height: auto;
}
.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
  cursor: pointer;
}
    

